<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @pantry.user_id %>
</p>

<p>
  <strong>=:</strong>
  <%= @pantry.= %>
</p>

<p>
  <strong>:</strong>
  <%= @pantry. %>
</p>

<%= link_to 'Edit', edit_pantry_path(@pantry) %> |
<%= link_to 'Back', pantries_path %>
